<a href="/rss" class="icon icon-rss"></a>
<a href="mailto:airjcy@gmail.com" class="icon icon-mail"></a>
<a href="http://steamcommunity.com/id/aircy/" class="icon icon-steam"></a>
<a href="http://www.last.fm/user/airjcy" class="icon icon-lastfm"></a>
<a href="http://www.twitter.com/Nayuyi" class="icon icon-twitter"></a>